/* Google Fonts https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* Standard Styles */
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    min-height: 100vh;
    padding: 150px 25px 0;
}

/* Card */
.card {
    max-width: 920px;
    height: 535px;
    background-color: #fff;
    border-radius: 20px;
}

/* Card | Picture */
.card-picture {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

.picture-bgPattern {
    z-index: 1;
}

.picture-img {
    z-index: 2;
}

/* Card | Info */
.card-info {
    padding: 30px 30px 0;
}

.info-title {
    font-size: 27px;
    color: hsl(238, 29%, 16%);
    text-align: center;
}

/* Card | Info | Questions */
.info-faqs {
    margin-top: 10px;
}

.faqs-item {
    text-align: left;
}

.faqs-accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.accordion-question {
    color: hsl(237, 12%, 33%);
}

.faqs-answer {
    color: hsl(240, 6%, 50%);
    padding-bottom: 18px;
}

.faqs-line {
    border-top: 1px solid hsl(240, 5%, 91%);
}

.desktopPicture {
    display: none;
}

.box {
    position: absolute;
    left: 160px;
    top: 325px;
    z-index: 3;
}

/* Active States */
.accordion-question:hover {
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 720px) {
    .picture-bgPattern {
        width: 100%;
    }

    .picture-img {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 28%;
    }

    .box {
        display: none;
    }
}

@media (min-width: 720px) {
    /* Standard Styles */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
    }

    /* Card */
    .card {
        height: 510px;
        width: 920px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Card | Picture */
    .card-picture {
        position: relative;
        width: 460px;
        height: 350px;
        right: 18%;
        top: 65px;
    }

    .picture-bgPattern {
        position: absolute;
        width: 920px;
        height: 900px;
        left: -100%;
        bottom: -225px;
    }

    .picture-img {
        width: 100%;
        left: 0;
        top: 15%;
    }

    /* Card | Info */
    .card-info {
        padding-top: 70px;
        padding-right: 95px;
    }

    .info-title {
        text-align: left;
    }

    .mobilePicture {
        display: none;
    }

    .desktopPicture {
        display: inherit;
    }
}
